# common ignore
*~
MANIFEST.MF
target/

src/main/webapp/CrazyTextBox

pom.xml.orig
*.versionsBackup

*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

# eclipse specific
.settings
.settings/
.project
.classpath
.metadata

# Locally stored "Eclipse launch configurations"
*.launch

# unix specific
.DS_Store
/*.*/.DS_Store
.directory

# static plugins
.pmd