/** The style of the control and its text (font, color) preferably shall be taken from the accompanying CSS.  */
.gwt-CustomTextBox {
	border: 1px solid black;
	padding: 5px;
	cursor: text;
}

/** Context menu settings. */
.popup {
  background-color: gray;
  border: 1px solid gray;
}
 
.popup-item {
  font-weight: normal;
  font-size: 80%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}